#game-container{
    text-align: center;
    
}
#game-board{
    width: 600px;
    height: 600px;
    border: 2.9px solid;
}
#score-text{
    font-size: 100px;
    font-family: 'consolas', monospace;
}
#resetbtn{
width: 100px;
height: 50px;
font-size: 22xp;
border: 4px solid;
font-family: "Parmanent Marker",cursive;
}